<main class="main page col2">
    <div>
        <h2 class="title--medium">T-shirt catalogue </h2>
        <section class="js-products cards"></section>
    </div>

    <div>
        <h2 class="title--medium">Shopping cart</h2>
        <table class="table">
            <thead>
                <tr class="text--bold">
                    <td>Product</td>
                    <td>Price</td>
                    <td>Units</td>
                    <td class="text-align-right">Total</td>
                </tr>
            </thead>
            <tbody class="js-cart"></tbody>
        </table>
    </div>

</main>