@import '../core/variables.scss';


.main {
    padding: 10px 10px;
    text-decoration: none;
    height: 80%;

    &__title {
        padding-bottom: 1rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-style: oblique;
        font-family: $font-secondary4;
    }

    &__text {
        color: $color-primary2;
        font-size: 0.8rem;
    }
}